.nav {
display: flex;
flex-direction: row;
padding-top: 20px;
justify-content: center;
background-color: white;

}

.nav .btn {
    padding-left: 40px;
    padding-right: 40px;
}
.nav a {
text-decoration: none;
color: black;
text-transform: uppercase;
font-size: 15px;
text-align: center;
font-weight: 200;
}

.nav a:not(:last-child) {
margin-bottom: 20px;
}